* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.nav-btn {
    background-color: white;
    color: red;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-container input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.foro-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foro-header h2 {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}



.foro-content {
    display: flex;
    justify-content: space-between;
}

.seccion-populares, .seccion-duda {
    width: 48%;
    background-color: #F4F4F4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion-populares h3, .seccion-duda h3 {
    margin-bottom: 15px;
    color: red;
}

.publicacion {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.btn-responder, .btn-ver, .btn-publicar {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer {
    background-color: #F4F4F4;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
